@import '/styles/Styles.scss';

/* Root Styles */

.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: $space-large;
}

/* Container Styles */

.content {
  flex: 1;
}

.row {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: $space-medium;
}

/* Legend Styles */

#info {
  gap: $space-large;
}

#keys {
  padding: $space-large;
  border-radius: $br-medium;
  background-color: $white-opac-2;
}

.key {
  display: flex;
  align-items: center;
  gap: $space-medium;
}

/* Artist Styles */

#acts {
  gap: $space-large;
}

#act {
  display: flex;
  flex-direction: column;
  padding: $space-medium;
  border-radius: $br-medium;
  background-color: $white-opac-2;
  gap: $space-medium;
}

#name, .option {
  font-size: 1.2rem;
}

#selected {
  background-color: $white-opac-2;
}